{% extends "percyval/base.html" %}
{% block main_body %}
{% include "percyval/featureTree.html" with f=feature %}

<div id="accordion" style="width:95%; box-align:center;">
	<h3>Details - {{ feature.case.name }}</h3>
	<div>
	  	<span id="lastUpdated">Loading...</span></p>
		<div id="timeChooser"></div>
	</div>
</div>

<div id='plot'>
	<svg style='height:500px'> </svg>
</div>
<script>
	var plot;
	nv.addGraph(function() {
		plot = nv.models.lineChart();
		d3.select('#plot svg')
		.datum([])
		.transition().duration(500)
		.call(plot);
		nv.utils.windowResize(plot.update);
		return plot;
	});

	$(function() {
		function updatePlot()
		{
			var s;
			s=$( "#timeChooser" ).slider("option", "values")[0];
			var f;
			f=$( "#timeChooser" ).slider("option", "values")[1];
			$.getJSON('./plotData/'+s+"/"+f+"/", function(data) {
				d3.select('#plot svg')
				.datum(data)
				.transition().duration(500)
				.call(plot);
			});
		}
		function updateTime()
		{
			$.getJSON('./updateTime', function(data) {
				$( "#lastUpdated" ).html("Last Updated: "+data.lastUpdated);
				setTimeout(updateTime, 5000);
			});
		}

		$( "#timeChooser" ).slider({
			range: true,
			disabled:true,
			change:function( event, ui ) {
				updatePlot();
			}
		});

		var previousPoint = null;
		$("#placeholder").bind("plothover", function (event, pos, item) {
			if (item) {
				if (previousPoint != item.dataIndex) {
					previousPoint = item.dataIndex;
						
					$("#tooltip").remove();
					var x = item.datapoint[0]
					y = item.datapoint[1]
					
					showTooltip(item.pageX, item.pageY,
					item.series.label + " at time: " + x + " = " + y);
				}
			}
			else {
				$("#tooltip").remove();
				previousPoint = null;            
			}
		});

		$.getJSON('./timeRange', function(data) {
			$( "#timeChooser" ).slider("option", "max", data.maxTime );
			$( "#timeChooser" ).slider("option", "min", data.minTime );
			var start;
			start=data.maxTime-2;
			if (start<data.minTime){
				start=data.minTime;
			}
			$( "#timeChooser" ).slider("option", "values", [ start, data.maxTime ] );
			$( "#timeChooser" ).slider("option", "disabled", false );
			updatePlot();
		});
		
			
			
			
		function updateSlider()
		{

			$.getJSON('./timeRange', function(data) {

				// If the slider is at the end, then isMax is set true
				var isMax=false;
				var nowMax=$( "#timeChooser" ).slider("option", "max");
				var nowVal=$( "#timeChooser" ).slider("option", "values")[1];
				if (nowVal==nowMax){
					isMax=true;
				}
				// Set the slider range regardless
				$( "#timeChooser" ).slider("option", "max", data.maxTime );
				$( "#timeChooser" ).slider("option", "min", data.minTime );

				// If the slider is at the end (isMax) then, tail the values
				// Set the slider values to the new end, but keep the range the same.
				if (isMax){
					var start=$( "#timeChooser" ).slider("option", "values")[0];
					var length=nowVal-start;
					start=data.maxTime-length;
					$( "#timeChooser" ).slider("option", "values", [ start, data.maxTime ] );
				}
				// Update the graph, this is done every time regardless, as although the timestep
				// might be the same, there could still be more data.
				updatePlot();
				setTimeout(updateSlider, 5000);
			});
		}
		$(window).resize(function() {
			plot.resize();
			plot.setupGrid();
			plot.draw();
		});

		updateSlider();
		updateTime();
	});
</script>
{% endblock %}
