{% extends "percyval/base.html" %}
{% block main_body %}
{% include "percyval/featureTree.html" with c=object %}							

<h1>Case Details</h1>
<dl class="dl-horizontal">
	<dt>Name</dt><dd>{{ object.name }}</dd>
	<dt>Owner</dt><dd>{{ object.owner }}</dd>
	{% for option in object.options.all %}
		<dt>{{ option.name }}</dt><dd>{{ option.value }}</dd>
	{% endfor %}
</dt>

{% if object.description %}
<h1>Description</h1>
<p>{{ object.description }}</p>
{% endif %}

<h1>Features</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Feature Name</th>
			<th>Last Updated</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{% for f in object.features.all %}
		<tr>
			<td><a href='{{ f.get_absolute_url }}'>{{ f.friendlyName }}</a></td>
			<td>{{ f.getLastUpdateTime }}</td>
			<td>{{ f.getDescription }}</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan=3>No Features Defined.</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
