{% extends "percyval/base.html" %}
{% block main_body %}
	<table id="monitorTable" class="table table-striped">
		<thead>
			<tr>
				<th>Name</th><th>Owner</th><th>Features</th><th>Last Updated</th><th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for o in object_list %}
			<tr>
				<td><a href='{{ o.get_absolute_url }}'>{{ o.name }}</a></td>
				<td>{{ o.owner }}</td>
				<td>{% for i in o.features.all %} <a href='{{ i.get_absolute_url }}'>{{i.friendlyName|title}}</a>, {% endfor %}</td>
				<td>{{ o.getLastUpdateTime }}</td>
				<td>{% if user.is_authenticated %}<a href='{{ o.get_absolute_url }}delete/ask'>Remove</a>{% endif %}</td>
			</tr>
		{% empty %}	
			<tr>
				<td colspan=5>No Cases Found...</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
