<ul class="breadcrumb">
	{% if f %}
		<li><a href="/percyval/">Home</a> <span class="divider">/</span></li>
		<li><a href='{{ f.case.get_absolute_url }}'>{{ f.case.name }}</a><span class="divider">/</span></li>
		<li><a href='{{ f.get_absolute_url }}'>{{ f.friendlyName }}</a><span class="divider">/</span></li>
	{% else %}
		{% if c %}
			<li><a href="/percyval/">Home</a> <span class="divider">/</span></li>
			<li><a href='{{ c.get_absolute_url }}'>{{ c.name }}</a><span class="divider">/</span></li>
		{% else %}
			<li><a href="/percyval/">Home</a></li>
	    {% endif %}
	{% endif %}
</ul>

