{% extends "percyval/base.html" %}
{% block main_body %}
{% include "percyval/featureTree.html" with f=feature %}
<ul class="thumbnails">
	{% for gallery in feature.getGalleries %}
	<li class="span4">
		<a href="{{ gallery.URL }}" title="{{ gallery.name }}">
			<img style="height:300px"src="{{MEDIA_URL}}{{ gallery.image }}" alt="">
			</a>
		<dl>
			<dt>Name</dt><dd><a href="{{ gallery.URL }}" title="{{ gallery.name }}">{{gallery.name}}</a></dd>
			<dt>Modified</dt><dd>{{ gallery.mTimeString }}</dd>
		</dl>
	</li>
	{% endfor %}
</ul>
{% endblock %}

